.chatLeftBar{
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: rgb(239, 235, 232);
    max-width: 200px;
    min-width: 150px;
    padding: 10px;
    
    &::-webkit-scrollbar{
        display: none;
    }

    span{
        font-size: 20px;
        font-style: 40px;
    }

        hr{
            margin: 20px 0px;
            margin-top: 2%;
            border: 1;
            height: 0.5px;
            color: grey;
        }

            .chat-user{
                display: flex;
                flex-direction: column;
                gap: 40px;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid rgb(57, 41, 41);
                }

                span{
                    font-size: 15px;
                }

             
    }
}
