.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1%;

    h2{
        display: flex;
        justify-content: center;

    }
}
