.chatbanner {
    position: relative;
    margin-top: 15%;
    margin-bottom: 10px;
}
.username {
    position: absolute;
   /*  margin-top: 80px; */
    top: 70%; 
    left: 29%; 
    font-size: 30px;
    color: black;
}
.profile-image {
    object-fit: cover;
    position: absolute;
    top: 97%; 
    left: 15%; 
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white; 
}
.hr{
    
    margin-right: 30px;
    margin-left: 30px;
    width: 100%;
    color: #271c0f;
    /* margin-top: 30%; */
}