

.userProfilePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1%;
}

.noSuchUser {
    margin-top: 10px;
    background-color: rgb(232, 233, 231);
}
