.div-update-user {
  display: flex;
  flex-direction: column;
}

.div-get-user {
  display: flex;
  flex-direction: column;
  width: 100%;

}

h3 {
  width: 100%;
}

.div-mapped-users {
  width: 100%;
}

