@import "../../style.scss";

.post {
  display: flex;
  align-items: center;
 

    .postContainer {
      margin-top: 30px;
      padding: 20px;
      background-color: rgb(198, 195, 182);
      max-width: 800px;
      flex: 1 1 100%;
      border-radius: 10px;
      

      .postInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .userInfo {
          display: flex;
          gap: 20px;
          align-items: center;
          font-weight: bold;
          

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 600;
              
            }

            .date {
              margin-right: auto;
              font-size: 14px;
            }
          }
        }
      }

      .postContent {
        margin: 20px 0px;
        

        img {
          background-color: rgba(0, 0, 0, 0.458);
          width: 100%;
          max-height: 700px;
          object-fit: contain;
          margin-top: 10px;
        }

      }
      .info {
        display: flex;
        align-items: center;
        gap: 20px;

      .comment {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
  .comments-container {
    width: 99,5%;
    background-color: rgb(198, 195, 182);
    padding: 5px;
  }
}