.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 20px;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    background-color: rgb(21, 13, 13);
    width: 100%;
    z-index: 999;

    .left{
        display: flex;
        align-items: center;
        gap: 30px;

        span{
            font-weight: bold;
            font-size: 20px;
            color: rgb(230, 214, 214)
        }

        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 5px;

            input{
                border: none;
               /*  width: 100%; */

            }
        }

    }


    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .user{
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 500;
            color: white;
            

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}