.dropdown {
    position: relative;
    display: flex;
  
  
  .dropdown-toggle {
    display: flex;
    background-color: rgb(54, 54, 54);
    color: white;
    //padding: 13px 0px;
    //padding-right: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center; /* Align items horizontally center */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;

      svg{
        padding-left: 10px;
        padding-right: 5px;
      }

      p{
        font-size: 14px;
        padding-right: 10px;
        font-weight: 500; 
      }
  
    
      .dropdown-item {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
      }
    
      .dropdown-item:hover {
        display: flex;
        background-color: #f1f1f1;
        width: 100%;
      }
  }
  
 
  
  
}  