:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

/* $themes:(
    light:(
        textColor: #000,
        bg: white,
        textColorsoft: #555,
        textColor: lightgrey,
    ),
    dark:(
        textColor: whitesmoke,
        bg: #222,
        textColorsoft: lightgrey,
        textColor: #444,
    ),
) */
