@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {

    @include center-content();
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(218, 220, 216);

        .card{
            @include center-content();
            background-color: rgb(240, 240, 240);
            width: 50%;
            border-radius: 10px;
            min-height: 600px;

            h2{
                @include center-content();
                font-size: 40px;
                margin-top: 0%;
            }
            
            form{
                @include center-content();
                flex-direction: column;
                gap: 30px;
            
                input {
                    border: none;
                    border-bottom: 1px solid lightgrey;
                    padding: 10px 10px;
                    width: 90%;
                }
            }

            p{
                @include center-content();
                font-size: 15px;
            }

            button {
                width: 100%;
                padding: 10px;
                border: none;
                background-color: rgb(127, 127, 125);
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin-top: 5px;
            }
    }

        
}